/.ipynb_checkpoints
/3.ipynb
/basicAlgorithm.ipynb
/class.ipynb
/data.csv
/dealData.ipynb
/gfp_model.pt
/gfp_model_continued.pt
/markdown.ipynb
/module.py
/nd9.txt
/numpy.ipynb
/pandas.ipynb
/people.csv
/physicsExperimentChart.ipynb
/python.ipynb
/pytorch.ipynb
/scikit_learn.ipynb
/test1.csv
/test1.ipynb
/test2.ipynb
/testNewEnv.ipynb
/torchTensor.ipynb
/train1.csv
/unpack.ipynb
/Untitled.ipynb
/useModule.ipynb
/__pycache__
/技术报告_队名.ipynb